<%= form_for(@tpost) do |f| %>
  <% if @tpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tpost.errors.count, "error") %> prohibited this tpost from being saved:</h2>

      <ul>
      <% @tpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
