<h1>Listing tposts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tposts.each do |tpost| %>
  <tr>
    <td><%= link_to 'Show', tpost %></td>
    <td><%= link_to 'Edit', edit_tpost_path(tpost) %></td>
    <td><%= link_to 'Destroy', tpost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tpost', new_tpost_path %>
