<div class="post" id="post-<% post.id %>">
  <div class="post-head">
    <h2 class="post-name"><%= post.name %></h2>
    <div class="post-meta"><%= post.created_at %></div>
  </div>
  <div class="post-body">
    <%= post.body %>
  </div>
</div>
