<div class="post" id="post-<%= post.id %>">
  <div class="post-head">
    <h2 class="post-name"><%= post.name %></h2>
    <div class="post-meta">
      <small><%= post.created_at %></small>
      <% if post.new? %><span class="label success">New</span><% end %></div>
  </div>
  <div class="post-body">
    <%= post.converted_body.html_safe %>
  </div>
</div>
