<h1>投稿一覧</h1>

<% if notice %>
  <div class="alert-message success">
    <a class="close" href="#">&times;</a>
    <p><%= notice %></p>
  </div>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render :partial => "single", :locals => { :post => post } %>
  <% end %>
</div>

<%= render :partial => "form" %>
