<h1>投稿一覧</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render :partial => "single", :locals => { :post => post } %>
  <% end %>
</div>

<%= paginate @posts %>

<hr />

<%= render :partial => "form" %>
